each val in receipts
  gacha
    baseid(__type="str")= val.baseid
    ghid(__type="s64")= val.ghid
    gachatype(__type="str")= val.gachatype
    gachaid(__type="str")= val.gachaid
    outtime(__type="s64")= val.outtime
    note(__type="str")= val.note
    quantity(__type="s32")= val.quantity
